langchain==0.3.30
langchain-community==0.3.27
langchain-core==0.3.86
langchain-groq==0.3.8
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.11
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.18.1
faiss-cpu==1.13.2
sentence-transformers==5.5.0
tiktoken==0.7.0
